/*
 * This styles.css includes CSS specific to DG7.
 *
 */

#collection-view-teaser-creators {
    font-weight: bold;
}

#collection-view-teaser-title {
    text-indent: 1em;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
}
